  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 3.1.0
    </div>
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="assets/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="assets/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="assets/dist/js/demo.js"></script>

  <script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="assets/plugins/jszip/jszip.min.js"></script>
  <script src="assets/plugins/pdfmake/pdfmake.min.js"></script>
  <script src="assets/plugins/pdfmake/vfs_fonts.js"></script>
  <script src="assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
  </body>

  </html>
  <script>
    var dataTable;

    var notesBTN;
    $(function() {
    //  alert();
      getFolderList();
      $('#userForm').submit(function() {

        addFolder();
        return false;
      });

      $('#userFormCheckbox').on('change', ':radio', function() {

        addRemove_news_folder(
          $(this).attr("id"),
          $('#modelNewsId').html(),
          3, // hard_coded
          this.checked
        ).then(result => {

          console.log(result);




          var folder_name = document.querySelector(`[news_id="${$('#modelNewsId').html()}"]`);
          $(folder_name).attr('folder_id', result.folder_id);
          $(folder_name).html(`<i class="fas fa-save mr-1 text-info"></i> SAVED (${$(this).next('label').html()})`);
          //folder_name=$(folder_name).find('p').html();
          // save_btn = `<a news_id="${news_id}" folder_id="${in_folder}" data-toggle="modal" data-target="#addToFolderModel" class="link-black text-sm mr-2 saveBTN" href="#"><i class="fas fa-save mr-1 text-info"></i> SAVED (${folder_name})</a>`;
          $('#folderList').html(` <li class="nav-item">
                  <a data-toggle="modal" data-target="#exampleModal" class="nav-link">
                    <i class="far fa-plus-square nav-icon"></i>
                    <p>Add New Folder</p>
                  </a>
                </li>`);
          getFolderList();
        });



      });

      $("body").on('click', '.saveBTN', function() {
        $('#modelNewsId').html($(this).attr('news_id'));
        //  alert($(this).attr('folder_id'));
        if ($(this).attr('folder_id') == undefined) {
          $('#modelFolderId').html('');
        } else
          $('#modelFolderId').html($(this).attr('folder_id'));
        //  alert($('#modelFolderId').html());
        getFolderListForModel();

      });

      $('#saveNotes').on('click', function() {

        addNotes($('#nodesModelNewsId').html(),
          3,

          $('#notesText').val()).then(() => {
          $(notesBTN).html(`<i class="fas fa-sticky-note mr-1" style="color:green"></i>Notes (Added)`);
        });


      });

      $("body").on('click', '.btnNotes', function() {
        notesBTN = $(this);
        $('#nodesModelNewsId').html($(this).attr('news_id'));
        getNotes(3, $(this).attr('news_id'));
      });


      $("body").on('click', '.deleteNote', function() {

        deleteNote($(this).attr('notes_id')).then(() => {

          //    alert();
          $(this).parents('.direct-chat-msg').fadeOut();
          //  console.log( $(this).parent('.direct-chat-msg'));
        });
        //alert($(this).attr('notes_id'));
      });

      $('#allNotes').on('click', function() {
        getAllNotes(3);

      });


      $('#analytics').on('click', function() {

        getAnalytics(3);

        $('#secAnalytics').fadeToggle();
      });

    });



    async function addFolder() {
      // data to be sent to the POST request
      let _data = {
        name: $('#fullname').val(),
        user_id: 3 // hard_coded
      }

      try {
        const response = await fetch('/news/folder/add', {
          method: "POST",
          body: JSON.stringify(_data),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        });

        const json = await response.json();
        $(document).Toasts('create', {
          class: 'bg-success',
          title: 'Success',
          subtitle: 'Done',
          body: 'User Added Successfully.'
        });

        // dataTable.row.add([json.id, json.name, json.role, json.createdAt]).draw(false);
      } catch (err) {
        console.log(err);
        $(document).Toasts('create', {
          class: 'bg-danger',
          title: 'Error',
          subtitle: 'Failed',
          body: 'Server ERROR. check console.'
        });
      }

    }

    async function getFolderList() {

      try {
        const response = await fetch('news/folder/3', {
          method: "GET",
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        });

        const json = await response.json();
        //  console.log(json);
        json.forEach(row => {
          var listItem = ` <li class="nav-item">
                  <a  folder_id="${row.id}" class=" nav_folders nav-link">
                    <i class="far  fa-folder-open nav-icon"></i>
                    <p>${row.name}</p>
                      <span class="badge badge-info right">${row.news}</span>

                  </a>
                </li>`;


          $('#folderList').append(listItem);

          // alert($('#folderList').html());
        });




      } catch (err) {
        console.log(err);
        $(document).Toasts('create', {
          class: 'bg-danger',
          title: 'Error',
          subtitle: 'Failed',
          body: 'Server ERROR. check console.'
        });
      }

    }

    async function getFolderListForModel() {

      try {
        const response = await fetch('news/folder/3', {
          method: "GET",
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        });

        var check = $('#modelFolderId').html();
        //  alert(check);
        //      alert($('#modelFolderId').html());
        var checked;

        const json = await response.json();
        //  console.log(json);
        $('#addToFolderModelFolderList').html('');
        json.forEach(row => {

          if (row.id == check) checked = 'checked';
          else checked = '';
          var listItem = `   <div style='padding: 10px; background-color: #eef2ef;' class="form-group">
              <div class="icheck-material-teal"> 
                <input type="radio" name='folders' ${checked} id="${row.id}"/>  
               <label for="${row.id}"><i class="nav-icon fas  fa-folder"></i> ${row.name}</label>
            </div>
            </div>`;


          $('#addToFolderModelFolderList').append(listItem);

       //   myToast('Added to folder succesfully', 'success');
          // alert($('#folderList').html());
        });




      } catch (err) {
        console.log(err);
        $(document).Toasts('create', {
          class: 'bg-danger',
          title: 'Error',
          subtitle: 'Failed',
          body: 'Server ERROR. check console.'
        });
      }

    }

    async function addRemove_news_folder(folder_id, news_id, user_id, check_status) {
      // data to be sent to the POST request
      let _data = {
        folder_id: folder_id,
        news_id: news_id,
        user_id: user_id, // hard_coded
        check_status: check_status
      }

      try {
        const response = await fetch('/folder/addnews', {
          method: "POST",
          body: JSON.stringify(_data),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        });

        const json = await response.json();
        myToast('Added to folder succesfully', 'success');
        return json;
      

        return json;
        // dataTable.row.add([json.id, json.name, json.role, json.createdAt]).draw(false);
      } catch (err) {
        console.log(err);
        $(document).Toasts('create', {
          class: 'bg-danger',
          title: 'Error',
          subtitle: 'Failed',
          body: 'Server ERROR. check console.'
        });
      }



    }

    async function addNotes(news_id, user_id, notes) {
      // data to be sent to the POST request
      let _data = {
        news_id: news_id,
        user_id: user_id, // hard_coded
        notes: notes
      }

      try {
        const response = await fetch('/addNotes', {
          method: "POST",
          body: JSON.stringify(_data),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        });

        myToast('Notes added successfully', 'success');
        const json = await response.json();
        //    return json;


        var listItem = `               
                <div class="direct-chat-msg right">
                  <div class="direct-chat-infos clearfix">
                    <button notes_id="${json.id}" type="button" class="close deleteNote"  aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <span class="direct-chat-timestamp float-left">${json.createdAt}</span>
                  </div>
           
                  <div class="direct-chat-text">
                    ${json.notes}
                  </div>
                </div>
          
            `;


        $('#notesBlock').append(listItem);

      //  myToast('Note added succesfully', 'success');



        return json;
        // dataTable.row.add([json.id, json.name, json.role, json.createdAt]).draw(false);
      } catch (err) {
        console.log(err);
        myToast('Check Console', 'error');

      }
    }

    
    async function getNotes(user_id, news_id) {




// data to be sent to the POST request
let _data = {
  name: $('#fullname').val(),
  user_id: 3 // hard_coded
}

try {
  const response = await fetch(`getNotes/${user_id}!${news_id}`, {
    method: "GET",
    headers: {
      "Content-type": "application/json; charset=UTF-8"
    }
  });
  const json = await response.json();
  $('#notesBlock').html('');
  json.forEach(row => {

    var listItem = `               
        <div class="direct-chat-msg right">
          <div class="direct-chat-infos clearfix">
            <button notes_id="${row.id}" type="button" class="close deleteNote"  aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <span class="direct-chat-timestamp float-left">${row.createdAt}</span>
          </div>
   
          <div class="direct-chat-text">
            ${row.notes}
          </div>
        </div>
  
    `;


    $('#notesBlock').append(listItem);

    // alert($('#folderList').html());
  });




} catch (err) {
  console.log(err);
  $(document).Toasts('create', {
    class: 'bg-danger',
    title: 'Error',
    subtitle: 'Failed',
    body: 'Server ERROR. check console.'
  });
}

}


async function deleteNote(notes_id) {




// data to be sent to the POST request


try {
  const response = await fetch(`deleteNotes/${notes_id}`, {
    method: "DELETE",
    headers: {
      "Content-type": "application/json; charset=UTF-8"
    }
  });
  const json = await response.json();
  myToast('Note removed succesfully', 'success');
} catch (err) {
  console.log(err);
  $(document).Toasts('create', {
    class: 'bg-danger',
    title: 'Error',
    subtitle: 'Failed',
    body: 'Server ERROR. check console.'
  });
}

}

async function getAllNotes(user_id) {




// data to be sent to the POST request
let _data = {
  name: $('#fullname').val(),
  user_id: 3 // hard_coded
}

try {
  const response = await fetch(`getAllNotes/${user_id}`, {
    method: "GET",
    headers: {
      "Content-type": "application/json; charset=UTF-8"
    }
  });
  const json = await response.json();
  $('#secNotes').fadeToggle();
  $('#secNotes').html(``);
  $('#secNotes').html(`<div ">

<div class="container-fluid">
<div class="row">
<div class="col-12">

<!-- /.card -->

<div class="card">
<div class="card-header">
  <h3 class="card-title">Notes</h3>
</div>
<!-- /.card-header -->
<div class="card-body">
  <table id="example1" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Note ID</th>
        <th>News ID</th>
        <th>User ID</th>
        <th>Note</th>
        <th>News Title</th>
        <th>URL</th>
        <th>Date</th>

      </tr>
    </thead>
    <tbody id="dtBoday">



    </tbody>
   
  </table>
</div>
<!-- /.card-body -->
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div>

`);

  dataTable = $("#example1").DataTable({
 
    order: [[0, 'desc']],
    "responsive": true,
    "lengthChange": false,
    "autoWidth": false,
    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
   });
  dataTable.buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

  dataTable.columns([1,2]).visible(false);
  json.forEach(row => {

    var news_short=row.title.substring(0, 50)+'...';
    dataTable.row.add([row.id, row.news_id, row.user_id, '<a style="margin:0 ;   font-weight: 600;"  class="direct-chat-text">' + row.notes + '</a>',`<a style='font-weight: 600;'> ${news_short.toUpperCase()} </a>`, '<a href=' + row.url + '>Open News</a>', row.createdAt]).draw();



    // alert($('#folderList').html());
  });




} catch (err) {
  console.log(err);
  $(document).Toasts('create', {
    class: 'bg-danger',
    title: 'Error',
    subtitle: 'Failed',
    body: 'Server ERROR. check console.'
  });
}

}


async function getAnalytics(user_id) {




// data to be sent to the POST request
let _data = {
  name: $('#fullname').val(),
  user_id: 3 // hard_coded
}

try {
  const response = await fetch(`getAnalytics/${user_id}`, {
    method: "GET",
    headers: {
      "Content-type": "application/json; charset=UTF-8"
    }
  });
  var jsons = await response.json();
  jsons.forEach(json => {

    $('#Acountries').html(json.county);
    $('#Akeywords').html(json.keywords);
    $('#Aopinions').html(json.opinion);
    $('#Aregions').html(json.regions);
    $('#Afolders').html(json.forlders);
    $('#Asources').html(json.source);
    $('#AsavedNews').html(json.savenews);
    $('#Anotes').html(json.notes);


  });

  // alert($('#folderList').html());




} catch (err) {
  console.log(err);
  $(document).Toasts('create', {
    class: 'bg-danger',
    title: 'Error',
    subtitle: 'Failed',
    body: 'Server ERROR. check console.'
  });
}

}




    

    function myToast(message, type) {
      getAnalytics(3);
      if (type == 'success') {
        $(document).Toasts('create', {
          class: 'bg-success',
          title: 'Success',
          autohide: true,
          delay: 1000,
          subtitle: 'Done',
          body: message + '.'
        });
      } else {
        $(document).Toasts('create', {
          class: 'bg-danger',
          title: 'Error',
          subtitle: 'Failed',
          autohide: true,
          delay: 1000,
          body: message + '.'
        });
      }
    }
  </script>