<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Newshunt | Dashboard</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="assets/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="assets/dist/css/adminlte.min.css">
   <!-- Theme style -->
   <link rel="stylesheet" href="assets\docs\assets\css\icheck-material.min.css">
   <link rel="stylesheet" href="assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="assets/index3.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Contact</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <!-- Messages Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">3</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="assets/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Brad Diesel
                  <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">Call me whenever you can...</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="assets/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  John Pierce
                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">I got your message bro</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
              <img src="assets/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
              <div class="media-body">
                <h3 class="dropdown-item-title">
                  Nora Silvester
                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                </h3>
                <p class="text-sm">The subject goes here</p>
                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
              </div>
            </div>
            <!-- Message End -->
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">15</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">15 Notifications</span>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-envelope mr-2"></i> 4 new messages
            <span class="float-right text-muted text-sm">3 mins</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-users mr-2"></i> 8 friend requests
            <span class="float-right text-muted text-sm">12 hours</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item">
            <i class="fas fa-file mr-2"></i> 3 new reports
            <span class="float-right text-muted text-sm">2 days</span>
          </a>
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="assets/index3.html" class="brand-link">
      <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Dashboard</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Muhammad Salman</a>
        </div>
      </div>

      <!-- SidebarSearch Form -->
    

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
       
       
       
       
       
       
       
       
       
               <li class="nav-item">
            <a id="home" href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Home (All Time)
                <i class="right fas "></i>
              </p>
            </a>
           
          </li>

      

          <li class="nav-item">
            <a id="today" href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
              Today
                <i class="fas fa-angle-right right"></i>
               
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a id="pastweek" href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
              Past Week
                <i class="fas fa-angle-right right"></i>
               
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a id="pastmonth" href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
              Past Month
                <i class="fas fa-angle-right right"></i>
               
              </p>
            </a>
          </li>
<!--           
          <li class="nav-item">
            <a id="pastyear" href="#" class="nav-link">
              <i class="nav-icon fas fa-copy"></i>
              <p>
              Past Year
                <i class="fas fa-angle-right right"></i>
               
              </p>
            </a>
          </li>
         -->
        
         
      
           
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas  fa-folder"></i>
              <p>
                SPECIFIC DATES
                                <i class="fas fa-angle-left right"></i>
               
              </p>
            </a>
            <ul  class="nav nav-treeview">

          <li class="nav-item">
            <a href="#" class="nav-link">From
              <input id="startdate" class="form-control form-control-sidebar" type="date"  >

            </a>
           
          </li>
            <li class="nav-item">
              <a href="#" class="nav-link">To
                <input id="enddate" class="form-control form-control-sidebar" type="date"  >
  
              </a>
             
            </li>



            <li style="text-align: center;" class="nav-item">
              <a id="datesbutton" href="#" class="nav-link">
               
                <p>
                Go
                 
                </p>
              </a>
            </li>
            </ul>
          </li>

         


          <li class="nav-item">
            <a href="#" class="nav-link">Select Country
              <select id="newsCountries" class="form-control form-control-sidebar"  >

                <option value="0">All</option>
              </select>
            </a>
           
          </li>
   
   
          <li class="nav-item">
            <a href="#" class="nav-link">Select Source
              <select id="newsSources" class="form-control form-control-sidebar"  >

                <option value="0">All</option>

              </select>
            </a>
           
          </li>


            <li class="nav-header">FOLDERS</li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon fas  fa-folder"></i>
                <p>
                  My Folders
                  <i class="fas fa-angle-left right"></i>
                 
                </p>
              </a>
              <ul id ='folderList' class="nav nav-treeview">
                <li class="nav-item">
                  <a id="addRemoveFolder" data-toggle="modal" data-target="#exampleModal" class="nav-link">
                    <i class="far fa-plus-square nav-icon"></i>
                    <p>Add remove folder</p>
                  </a>
                </li>
  
              </ul>


              <li class="nav-item">
                <a id="allNotes" href="#" class="nav-link">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>
                  Notes
                    <i class="fas fa-angle-right right"></i>
                   
                  </p>
                </a>
              </li>
  
              <li class="nav-item">
                
                <a id="analytics" href="#" class="nav-link">
                  <i class="nav-icon fas fa-copy"></i>
                  <p>
                  Analytics
                    <i class="fas fa-angle-right right"></i>
                   
                  </p>
                </a>
              </li>
  

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">New Folder</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="userForm">
          <div class="modal-body">
  
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Folder Name:</label>
              <input required="required" type="text" class="form-control" id="fullname">

            
            </div>
         
  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
          <div id="removeFolderDiv" class="modal-body">
          </div>
        </form>
      </div>
    </div>
  </div>






  <div class="modal fade" id="addToFolderModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add To Folder</h5>
          <h5 class="modal-title" style="display:none" id="modelNewsId"></h5>
          <h5 class="modal-title" style="display:none" id="modelFolderId"></h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="userFormCheckbox">
       
          <div id="addToFolderModelFolderList" class="modal-body">
          </div>
       
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>









  <div class="modal fade" id="modelNotes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Notes</h5>
          <h5 class="modal-title" style="display:none" id="nodesModelNewsId">Add Notes</h5>

          <h5 class="modal-title" style="display:none" id="modelNewsId"></h5>
          <h5 class="modal-title" style="display:none" id="modelFolderId"></h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="formNotes">
          <div id="addToFolderModelFolderList" class="modal-body">
  
            <div class="card-body" style="display: block;">
              <!-- Conversations are loaded here -->
              <div id="notesBlock" style="height:500px" class="direct-chat-messages">
                <!-- Message. Default to the left -->
        
          
                <!-- Message to the right -->
                <div class="direct-chat-msg right">
                  <div class="direct-chat-infos clearfix">
                    <button type="button" class="close"  aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                    <span class="direct-chat-timestamp float-left">23 Jan 2:05 pm</span>
                  </div>
                  <!-- /.direct-chat-infos -->
                  <!-- /.direct-chat-img -->
                  <div style="border: 5px solid #fdfdfd; margin-right: 0; background-color: white;" class="direct-chat-text">
                    You better believe it!
                  </div>
                  <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->
          
            
          
              </div>
              <!--/.direct-chat-messages-->
          
      
              <!-- /.direct-chat-pane -->
            </div>
            <div class="card-footer" style="display: block;">
              <form action="#" method="post">
                <div class="input-group">
                  <textarea  id="notesText" name="message" placeholder="Type Note ..." class="form-control"></textarea>
                  <span class="input-group-append">
                    <button type="button" id="saveNotes" class="btn btn-primary">Save</button>
                  </span>
                </div>
              </form>
            </div>
           
  
          </div>
         
        </form>
      </div>
    </div>
  </div>









 
  <!-- Content Wrapper. Contains page content -->
  
  <!-- /.content-wrapper -->

  
