<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Newshunt | Dashboard</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../assets/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../assets/dist/css/adminlte.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="assets\docs\assets\css\icheck-material.min.css">
  <link rel="stylesheet" href="../assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <link rel="stylesheet" href="../assets/plugins/summernote/summernote-bs4.min.css">
</head>

<body class="hold-transition sidebar-mini">
  <!-- Site wrapper -->
  <div class="wrapper">




    <!-- Content Wrapper. Contains page content -->

    <!-- /.content-wrapper -->





    <div style="margin-left:0" class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>News</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Blank Page</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="row content">

        <!-- Default box -->
        <div id="news_part" class="col-md-12" class="col-md-6">



        </div>




    </div>
    <!-- /.col -->
  </div>
  <!-- /.card -->

  </section>
  <!-- /.content -->
  </div>

  </div>


  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2023 <a href="#">newshunt</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="../assets/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../assets/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../assets/dist/js/demo.js"></script>

  <script src="../assets/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="../assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="../assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>

  <!-- HEAVY LOADING TIME -->
  <!-- <script src="../assets/plugins/jszip/jszip.min.js"></script>
  <script src="../assets/plugins/pdfmake/pdfmake.min.js"></script>
  <script src="../assets/plugins/pdfmake/vfs_fonts.js"></script> -->
  <script src="../assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="../assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="../assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
  <script src="../assets/plugins/summernote/summernote-bs4.min.js"></script>
</body>

</html>

<script>
  var row = <%- notesData %>;
  $(function() {
    row = row[0];
    var date = new Date(row.pub_date);
    date = date.toDateString();
    var news = newsTemplate(row.news_id, row.source, date, row.title.toUpperCase(), row.description, row.url, row.key_words.replace(',', ' | '), row.in_folder, row.notes_news, row.body, row.note_id,row.media);
    // console.log(news);
    $('#news_part').append(news);




  });

  function newsTemplate(news_id, source, pub_date, title, description, url, keywords, in_folder, notes_news, body, note_id, media) {
    var save_btn;
    var note_btn;



    if (note_id != 'null')


      if (in_folder == null)
        save_btn = `<a news_id="${news_id}" data-toggle="modal" data-target="#addToFolderModel" class="link-black text-sm mr-2 saveBTN" href="#"><i class="fas fa-save mr-1"></i>Not Saved</a>`;
      else {
        var folder_name = document.querySelector(`[folder_id="${in_folder}"]`);
        folder_name = $(folder_name).find('p').html();
        save_btn = `<a news_id="${news_id}" folder_id="${in_folder}" data-toggle="modal" data-target="#addToFolderModel" class=" text-success link-black text-sm mr-2 saveBTN" href="#"><i class="fas fa-save mr-1"></i> SAVED (<i class="nav-icon fas  fa-folder"></i>)</a>`;
      }


    if (note_id == null)
      note_btn = `     <a news_id="${news_id}"  class=" link-black text-sm mr-2 btnCopyNote" href="#"><i class="fas fa-clone mr-1" ></i>Copy to editor</a>`;

    else {

      note_btn = `    `;

    }

    var myNews = `   <div class="col-md-12">
       



          <div class="card">


            <div class="card-header" style='    background-color: #e6edf4;'>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>



          <div style="margin-left: 0;    margin-bottom: 0px;" class="row">
                      <!-- <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image"> -->
                      <span style="margin-left: 0;" class="username user-block">
                        <a class=" float-left " style='font-size:18px; '   href="#">   ${source}</a>
                        

                        <a style="margin-top: 4px;margin-left: 5px;" class="description float-left ">${pub_date}</a>


                      </span>
                    </div>

                  <div  class="row" style='margin-left:0;' >  
                <h5  style='font-size:18px; color:#6c757d;font-weight: 600; font-size: 1.25rem;margin-bottom:0px'>${title}</h5>

              </div>
   

        </div>


            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane active" id="activity">
                  <!-- Post -->
                  <div class="post">
                    <div class="row">

                      <div class="col-sm-9 col-md-9">
                    <h6 style="    font-size: 18px;;">
                      ${body}
                    </h6>

                 
                  </div>


                  <div class="col-sm-3 col-md-3">
                          <img class="img-fluid" src="${media}" alt="Photo">
                        </div>
  </div>
  <p style='margin:0;font-weight: 600;'>
                     ${save_btn}

                      <span class="float-right">

                        <a href=' ${url}' class="link-black text-sm"><i class="far fa-folder-open mr-1"></i> Open</a>
                

                      </span>
                    </p>
                    <p style='margin:0;font-weight: 600; font-size:small'>
                    <a href="#" class="float-left text-info">Keywords: ${keywords}</a>
</p>
</div>
                  <!-- /.post -->



                  <!-- /.tab-pane -->

                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>

          <!-- /.col -->
        </div>
         

<div>
 


        `;

    return myNews;

  }

  function myToast(message, type) {
    if (type == 'success') {
      $(document).Toasts('create', {
        class: 'bg-success',
        title: 'Success',
        autohide: true,
        delay: 1000,
        subtitle: 'Done',
        body: message + '.'
      });
    } else {
      $(document).Toasts('create', {
        class: 'bg-danger',
        title: 'Error',
        subtitle: 'Failed',
        autohide: true,
        delay: 1000,
        body: message + '.'
      });
    }
  }
</script>