<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Newshunt | Dashboard</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="assets/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="assets/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="assets\docs\assets\css\icheck-material.min.css">
  <link rel="stylesheet" href="assets/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="assets/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="assets/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <link rel="stylesheet" href="assets/build/mycss.css">
</head>

<body class="sidebar-mini layout-fixed layout-navbar-fixed">
  <!-- Site wrapper -->
  <div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-light text-sm" style="font-weight:bold">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>


        <li class="nav-item  d-sm-inline-block">
          <a href="/news" class="nav-link">News Feed <span style="position: absolute; margin-top: -5px;margin-left: 5px;" class="right badge badge-danger"></span></a>
        </li>


        <li class="nav-item  d-sm-inline-block">
          <a href="/reportFilter" class="nav-link">Reports <span style="position: absolute; margin-top: -10px;margin-left: -10px;" class="right badge badge-danger">New</span></a>
        </li>



        <li class="nav-item  d-sm-inline-block">
          <a href="/statistics" class="nav-link">Statistics <span style="position: absolute; margin-top: -5px;margin-left: 5px;" class="right badge badge-danger"></span></a>
        </li>

        <li class="nav-item  d-sm-inline-block">
          <a href="/settings" class="nav-link">Settings <span style="position: absolute; margin-top: -5px;margin-left: 5px;" class="right badge badge-danger"></span></a>
        </li>

        <li class="nav-item  d-sm-inline-block">
          <a href="/profile" class="nav-link">Profile Management <span style="position: absolute; margin-top: -5px;margin-left: 5px;" class="right badge badge-danger"></span></a>
        </li>

      </ul>

      <!-- Right navbar links -->
      <ul class="navbar-nav ml-auto">

        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-comments"></i>
            <span class="badge badge-danger navbar-badge">3</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <a href="#" class="dropdown-item">
              <!-- Message Start -->
              <div class="media">
                <img src="../assets/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                <div class="media-body">
                  <h3 class="dropdown-item-title">
                    User
                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                  </h3>
                  <p class="text-sm"> Under Construction


                  </p>
                  <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                </div>
              </div>
              <!-- Message End -->
            </a>

          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">15</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
            <span class="dropdown-item dropdown-header">15 Notifications</span>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-envelope mr-2"></i> 4 new News (Alerts)
              <span class="float-right text-muted text-sm">3 mins</span>
            </a>
            <div class="dropdown-divider"></div>

            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new reports
              <span class="float-right text-muted text-sm">2 days</span>
            </a>


            <a href="#" class="dropdown-item">
              <i class="fas fa-file mr-2"></i> 3 new News (by Keywords)
              <span class="float-right text-muted text-sm">2 days</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">Under Construction</a>

          </div>
        </li>



        <li class="nav-item">
          <a class="nav-link" data-widget="fullscreen" href="#" role="button">
            <i class="fas fa-expand-arrows-alt"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
            <i class="fas fa-th-large"></i>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside style="position: fixed;" class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="assets/index3.html" class="brand-link">
        <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Dashboard</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="assets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">Muhammad Salman</a>
          </div>
        </div>

        <!-- SidebarSearch Form -->


        <!-- Sidebar Menu -->
        <nav class="mt-2">
          <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->





            <li class="nav-item">

              <a id="analytics" href="#" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                  Analytics (Setup)
                  <i class="fas fa-angle-right right"></i>

                </p>
              </a>
            </li>

            <li class="nav-item">

              <a id="analyticsCont" href="#" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                  Analytics (Contents)
                  <i class="fas fa-angle-right right"></i>

                </p>
              </a>
            </li>

            <li class="nav-item">
              <a id="allNotes" href="#" class="nav-link">
                <i class="nav-icon fas fa-copy"></i>
                <p>
                  Notes
                  <i class="fas fa-angle-right right"></i>

                </p>
              </a>
            </li>




          </ul>
        </nav>
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>



    <div class="content-wrapper" style="min-height: 2488.31px;">



      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-md-4 col-12">
              <h1>
                Statistics
                <small id="secNameHeader">Analytics</small>
              </h1>
            </div>

            <div id="contentFilter" style="display: none;" class="col-md-8 col-12">
              <div class="row">


                <div class="col-md-8">

                  <div style="display:none" class="row" id="specificDates">
                    <div class="col-md-5">

                      <input id="startdate" class="form-control " type="date">

                    </div>
                    <div class="col-md-5">
                      <input id="enddate" class="form-control " type="date">
                    </div>
                    <div class="col-md-2">
                      <button id="btnDates" class="form-control btn btn-info">Submit</button>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <select id="timePeriod" class="form-control ">
                    <option value="0">Time Period (All)</option>
                    <option value="today">Today</option>
                    <option value="week">Past Week</option>
                    <option value="month">Past Month</option>
                    <option class="nav-item" value="specific">Specific Dates</option>
                  </select>
                </div>
              </div>
            </div>



          </div>

          <div id="sweetLoader" style="padding: 10px;border-radius:  1.25rem;position: absolute;margin-left: 44%;z-index: 99;text-align:center;display:none;box-shadow:  0 19px 38px rgb(248 244 244 / 64%), 0 15px 12px rgb(0 0 0 / 15%);">
            <div style="margin: auto;" class="overlay"><i class="fas fa-2x fa-sync-alt fa-spin"></i></div>

          </div>
        </div>
      </section>
      <section id="secNotes" style="display: none;" class="content-header"></section>


      <section id="secAnalytics" style="   padding-top: 0; padding-bottom: 0;" class="content-header">

        <div class="row">
          <div class="col-md-3 col-sm-6 col-6">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="far fa-flag"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Countires</span>
                <span id="Acountries" class="info-box-number">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-6">
            <div class="info-box">
              <span class="info-box-icon bg-success"><i class="fas fa-hashtag"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Keywords</span>
                <span id="Akeywords" class="info-box-number">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-6">
            <div class="info-box">
              <span class="info-box-icon bg-warning"><i class="fas fa-quote-right"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Opinions</span>
                <span id="Aopinions" class="info-box-number">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          <!-- /.col -->
          <div class="col-md-3 col-sm-6 col-6">
            <div class="info-box">
              <span class="info-box-icon bg-danger"><i class="fas fa-map-marked-alt"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Regions</span>
                <span id="Aregions" class="info-box-number">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-6">
            <div class="info-box">
              <span class="info-box-icon bg-info"><i class="far fa-folder"></i></span>
              <div class="info-box-content">
                <span class="info-box-text">Folders</span>
                <span id="Afolders" class="info-box-number">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>


          <div class="col-md-3 col-sm-6 col-6">
            <div class="info-box">
              <span class="info-box-icon bg-success"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Sources</span>
                <span id="Asources" class="info-box-number">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>

          <div class="col-md-3 col-sm-6 col-6">
            <div class="info-box">
              <span class="info-box-icon bg-warning"><i class="far fa-save"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Saved News</span>
                <span id="AsavedNews" class="info-box-number">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>

          <div class="col-md-3 col-sm-6 col-6">
            <div class="info-box">
              <span class="info-box-icon bg-danger"><i class="far fa-sticky-note"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">Notes</span>
                <span id="Anotes" class="info-box-number">0</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>

        </div>
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>
                  Countries
                  <small id="secNameHeader">And Sources</small>
                </h1>
              </div>

            </div>
          </div>
        </section>
        <section class="content">
          <div class="content-flued">


            <div id="divSources" class="row">

            </div>
            <!-- /.col -->



            <section class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <h1>
                      Categories
                      <small id="secNameHeader">And Keywords</small>
                    </h1>
                  </div>

                </div>
              </div>
            </section>
            <section class="content">
              <div class="content-flued">
                <div class=" col-lg-3 col-12">
                  <div class="card collapsed-card">
                    <div class="small-box bg-warning">
                      <div class="inner">
                        <h2 style='font-weight:600'>CATEGORIES.</h2>

                        <h3 style='font-weight:600' id="catValue"></h3>
                      </div>
                      <div class="icon">
                        <i class="ion ion-grid"></i>
                      </div>
                      <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse"> <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                  </div>
                </div>
                <div id="divKeywordCats" class="row">
                </div>
              </div>

            </section>
          </div>
        </section>
      </section>


      <section id="secAnalyticsContents" style="   padding-top: 0; padding-bottom: 0; display: none;" class="content-header">





        <section class="content">
          <div class="content-flued">
            <div id="divCatNews" class="row">
              <div class=" col-lg-3 col-12">
                <div class="card collapsed-card">
                  <div class="small-box bg-info">
                    <div class="inner">
                      <h2 style='font-weight:600'>Total News.</h2>

                      <h3 style='font-weight:600' id="totalNews">...</h3>
                    </div>
                    <div class="icon">
                      <i class="ion ion-social-rss"></i>
                    </div>
                    <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse"> <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>

              <div class=" col-lg-3 col-12">
                <div class="card collapsed-card">
                  <div class="small-box bg-danger">
                    <div class="inner">
                      <h2 style='font-weight:600'>Category 1</h2>

                      <h3 style='font-weight:600' id="totalNews">...</h3>
                    </div>
                    <div class="icon">
                      <i class="ion ion-grid"></i>
                    </div>
                    <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse"> <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>

              <div class=" col-lg-3 col-12">
                <div class="card collapsed-card">
                  <div class="small-box bg-danger">
                    <div class="inner">
                      <h2 style='font-weight:600'>Category 2</h2>

                      <h3 style='font-weight:600' id="totalNews">...</h3>
                    </div>
                    <div class="icon">
                      <i class="ion ion-grid"></i>
                    </div>
                    <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse"> <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>

              <div class=" col-lg-3 col-12">
                <div class="card collapsed-card">
                  <div class="small-box bg-danger">
                    <div class="inner">
                      <h2 style='font-weight:600'>Category 3</h2>

                      <h3 style='font-weight:600' id="totalNews">...</h3>
                    </div>
                    <div class="icon">
                      <i class="ion ion-grid"></i>
                    </div>
                    <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse"> <i class="fas fa-arrow-circle-right"></i></a>
                  </div>
                </div>
              </div>
            </div>


            <div id="divKeywords" class="row">
              <div class="col-md-12 col-12"><small style="font-weight: 600;" id="secNameHeader"> Category Wise News</small></div>
              <div class=" col-lg-2 col-12">
                <div class="card collapsed-card">
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <h2 style="font-weight:600;font-size: 1rem;">Keyword 1</h2>
                      <h3 style="font-weight:600">...</h3>
                    </div>
                    <div class="icon">
                      <i class="ion ion-key"></i>
                    </div>
                    <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse">View More. <i class="fas fa-arrow-circle-right"></i></a>
                  </div>

                  <div class="card-body">
                  </div>
                </div>

              </div>


              <div class=" col-lg-2 col-12">
                <div class="card collapsed-card">
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <h2 style="font-weight:600;font-size: 1rem;">Keyword 2</h2>
                      <h3 style="font-weight:600">...</h3>
                    </div>
                    <div class="icon">
                      <i class="ion ion-key"></i>
                    </div>
                    <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse">View More. <i class="fas fa-arrow-circle-right"></i></a>
                  </div>

                  <div class="card-body">
                  </div>
                </div>

              </div>


              <div class=" col-lg-2 col-12">
                <div class="card collapsed-card">
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <h2 style="font-weight:600;font-size: 1rem;">Keyword 3</h2>
                      <h3 style="font-weight:600">...</h3>
                    </div>
                    <div class="icon">
                      <i class="ion ion-key"></i>
                    </div>
                    <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse">View More. <i class="fas fa-arrow-circle-right"></i></a>
                  </div>

                  <div class="card-body">
                  </div>
                </div>

              </div>


              <div class=" col-lg-2 col-12">
                <div class="card collapsed-card">
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <h2 style="font-weight:600;font-size: 1rem;">Keyword 4</h2>
                      <h3 style="font-weight:600">...</h3>
                    </div>
                    <div class="icon">
                      <i class="ion ion-key"></i>
                    </div>
                    <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse">View More. <i class="fas fa-arrow-circle-right"></i></a>
                  </div>

                  <div class="card-body">
                  </div>
                </div>

              </div>


              <div class=" col-lg-2 col-12">
                <div class="card collapsed-card">
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <h2 style="font-weight:600; font-size: 1rem;">Keyword 5</h2>
                      <h3 style="font-weight:600">...</h3>
                    </div>
                    <div class="icon">
                      <i class="ion ion-key"></i>
                    </div>
                    <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse">View More. <i class="fas fa-arrow-circle-right"></i></a>
                  </div>

                  <div class="card-body">
                  </div>
                </div>

              </div>

              <div class=" col-lg-2 col-12">
                <div class="card collapsed-card">
                  <div class="small-box bg-warning">
                    <div class="inner">
                      <h2 style="font-weight:600;font-size: 1rem;">Keyword 6</h2>
                      <h3 style="font-weight:600">...</h3>
                    </div>
                    <div class="icon">
                      <i class="ion ion-key"></i>
                    </div>
                    <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse">View More. <i class="fas fa-arrow-circle-right"></i></a>
                  </div>

                  <div class="card-body">
                  </div>
                </div>

              </div>


            </div>





            <div id="divCatCountries" class="row">
              <div class="col-md-12 col-12">

                <small style="font-weight: 600;" id="secNameHeader">Cotegory | Country Wise News</small>
              </div>
              <div class=" col-lg-3 col-12">
                <div class="card collapsed-card">
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h2 style="font-weight:600">Country 1</h2>
                      <h3 style="font-weight:600">...</h3>
                    </div>
                    <div class="icon">
                      <i class="ion ion-grid"></i>
                    </div>
                    <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse">View More. <i class="fas fa-arrow-circle-right"></i></a>
                  </div>

                  <div class="card-body">
                  </div>
                </div>

              </div>

              <div class=" col-lg-3 col-12">
                <div class="card collapsed-card">
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h2 style="font-weight:600">Country 2</h2>
                      <h3 style="font-weight:600">...</h3>
                    </div>
                    <div class="icon">
                      <i class="ion ion-grid"></i>
                    </div>
                    <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse">View More. <i class="fas fa-arrow-circle-right"></i></a>
                  </div>

                  <div class="card-body">
                  </div>
                </div>
              </div>


              <div class=" col-lg-3 col-12">
                <div class="card collapsed-card">
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h2 style="font-weight:600">Country 3</h2>
                      <h3 style="font-weight:600">...</h3>
                    </div>
                    <div class="icon">
                      <i class="ion ion-grid"></i>
                    </div>
                    <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse">View More. <i class="fas fa-arrow-circle-right"></i></a>
                  </div>

                  <div class="card-body">
                  </div>
                </div>
              </div>


              <div class=" col-lg-3 col-12">
                <div class="card collapsed-card">
                  <div class="small-box bg-success">
                    <div class="inner">
                      <h2 style="font-weight:600">Country 4</h2>
                      <h3 style="font-weight:600">...</h3>
                    </div>
                    <div class="icon">
                      <i class="ion ion-grid"></i>
                    </div>
                    <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse">View More. <i class="fas fa-arrow-circle-right"></i></a>
                  </div>

                  <div class="card-body">
                  </div>
                </div>
              </div>

            </div>
          </div>
    </div>

    </section>
  </div>
  </section>
  </section>


  </div>


  </div>


  <footer class="main-footer">
    <div class="float-right d-none d-sm-block">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2023 <a href="#">newshunt</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="assets/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="assets/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="assets/dist/js/demo.js"></script>

  <script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="assets/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="assets/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="assets/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="assets/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="assets/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>


  <script src="assets/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="assets/plugins/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="assets/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
</body>
<style>
  .small-box {
    margin-bottom: 0px;
  }
</style>

</html>
<script>
  var dataTable;
  var start_date = 0;
  var end_date = 0;
  var keyword = "0";
  var keywordCat = "0";
  var notesBTN;
  $(function() {
    $('#timePeriod').on('change', () => {

      keyword="0";
      keywordCat="0";
      if ($('#timePeriod').val() == '0') {
        start_date = '0';
        end_date = '0';
      }


      if ($('#timePeriod').val() == 'today') {
        var date = new Date();
        date.setDate(date.getDate());
        var dateString = date.toISOString().split('T')[0]; // "2016-06-08"
        start_date = end_date = dateString;
      }

      if ($('#timePeriod').val() == 'week') {
        var date = new Date();
        end_date = date.toISOString().split('T')[0];
        date.setDate(date.getDate() - 7);
        start_date = date.toISOString().split('T')[0];
      }

      if ($('#timePeriod').val() == 'month') {
        var date = new Date();
        end_date = date.toISOString().split('T')[0];
        date.setDate(date.getDate() - 30);
        start_date = date.toISOString().split('T')[0];
      }



      if ($('#timePeriod').val() == 'specific') {
        $('#specificDates').slideDown();
        return;
      } else {
        $('#specificDates').slideUp();
      }

      getAnalyticsContents(3);

    });

    $('#btnDates').click(function() {
      if ($('#startdate').val() == '' || $('#enddate').val() == '') {
        myToast('Please select valid filters and try again.', 'error');
        return;
      }
      start_date = $('#startdate').val();
      end_date = $('#enddate').val();
      keyword="0";
      keywordCat="0";
      getAnalyticsContents(3);


    });

    $('body').on('click', '.catFooter', function() {
      keywordCat = $(this).attr('cat_id');
      keyword = "0";

      getAnalyticsContents(3);
    });

    $('body').on('click', '.keyFooter', function() {

      keyword = $(this).attr('key_id');
      getAnalyticsContents(3);


    });

    getAnalytics(3);


    $('body').on('click', '.dtEditNote', function() {

      window.open("/notes/" + 3 + "!" + $(this).attr('news_id'), "_blank");
    });

    $('body').on('click', '.dtDeleteNote', function() {
      if (yesNoDialog("Are you sure to delete this note?")) {

        deleteNote($(this).attr('note_id')).then(() => {
          dataTable
            .row($(this).parents('tr'))
            .remove()
            .draw();

        });
      }
    });


    $('body').on('click', '.cardFooter', function() {
     var myDiv = $(this).parent().parent().parent();
     $(myDiv).removeClass("col-lg-1");

      $(myDiv).addClass("col-lg-3");
      console.log(myDiv);
   //   getAnalyticsContents(3);
    });

    $('#allNotes').on('click', function() {
      getAllNotes(3);
      $('#secAnalytics').hide();
      $('#contentFilter').hide();

      $('#secAnalyticsContents').hide();
      $('#secNotes').show();
      $('#secNameHeader').text('Notes');


    });


    $('#analytics').on('click', function() {

      getAnalytics(3);
      $('#contentFilter').hide();

      $('#secAnalytics').show();
      $('#secNotes').hide();
      $('#secAnalyticsContents').hide();
      $('#secNameHeader').text('Analytics');


    });


    $('#analyticsCont').on('click', function() {

      getAnalyticsContents(3);
      contentFilter
      $('#contentFilter').show();

      $('#secAnalytics').hide();
      $('#secNotes').hide();
      $('#secAnalyticsContents').show();
      $('#secNameHeader').text('Analytics');
    });

  });


  async function deleteNote(notes_id) {
    try {
      const response = await fetch(`deleteNotes/${notes_id}`, {
        method: "DELETE",
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      });
      const json = await response.json();
      myToast('Note removed succesfully', 'success');
    } catch (err) {
      console.log(err);
      myToast('something went wrong. Console', 'error');

    }

  }

  async function getAllNotes(user_id) {




    // data to be sent to the POST request
    let _data = {
      name: $('#fullname').val(),
      user_id: 3 // hard_coded
    }

    try {
      const response = await fetch(`getAllNotes/${user_id}`, {
        method: "GET",
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      });
      const json = await response.json();
      $('#secNotes').html(``);
      $('#secNotes').html(`<div ">

<div class="container-fluid">
<div class="row">
<div class="col-12">

<!-- /.card -->

<div class="card">
<div class="card-header">
  <h3 class="card-title">Notes</h3>
</div>
<!-- /.card-header -->
<div class="card-body">
  <table  style="font-size:x-small" id="example1"  class="table table-bordered table-striped">
    <thead>
      <tr>
        <th> ID</th>
        <th>News ID</th>
        <th>User ID</th>
        <th>Note</th>
        <th>News Title</th>
        <th>URL</th>
        <th>Date</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody id="dtBoday" >



    </tbody>
   
  </table>
</div>
<!-- /.card-body -->
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div>

`);

      dataTable = $("#example1").DataTable({

        order: [
          [0, 'desc']
        ],
        "responsive": true,
        "lengthChange": false,
        "autoWidth": false,
        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
      });
      dataTable.buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

      dataTable.columns([1, 2]).visible(false);
      json.forEach(row => {

        var news_short = row.title.substring(0, 50) + '...';
        dataTable.row.add([
          row.id,
          row.news_id,
          row.user_id,
          '<div  style="border: 5px solid #cfe0f1; margin: 0; background-color: white;"  class="direct-chat-text">' + row.notes + '</a>',
          `<a style='font-weight: 500;'> ${news_short.toUpperCase()} </div>`,
          '<a href=' + row.url + '>Open News</a>',
          getDateTimeFormate(row.createdAt),
          '<a href="#"  style="font-size:small"  note_id="' + row.id + '"  news_id="' + row.news_id + '" class="dtEditNote"><i class="fas fa-edit mr-1 "></i></a><a href="#"  style="font-size:small" note_id="' + row.id + '" class="dtDeleteNote"><i style="margin-left:10px" class="fas fa-trash mr-1 text-danger" ></a>'
        ]).draw();


      });




    } catch (err) {
      console.log(err);
      $(document).Toasts('create', {
        class: 'bg-danger',
        title: 'Error',
        subtitle: 'Failed',
        body: 'Server ERROR. check console.'
      });
    }

  }


  async function getAnalytics(user_id) {




    // data to be sent to the POST request
    let _data = {
      name: $('#fullname').val(),
      user_id: 3 // hard_coded
    }

    try {
      const response = await fetch(`statistics/getAnalytics/${user_id}`, {
        method: "GET",
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      });
      var jsons = await response.json();
      console.log(jsons);
      jsons.result.forEach(json => {

        $('#Acountries').html(json.county);
        $('#Akeywords').html(json.keywords);
        $('#Aopinions').html(json.opinion);
        $('#Aregions').html(json.regions);
        $('#Afolders').html(json.forlders);
        $('#Asources').html(json.source);
        $('#AsavedNews').html(json.savenews);
        $('#Anotes').html(json.notes);


      });

      $('#catValue').text(jsons.keywordsCat[0].categories);

      $('#divSources').html(``);

      jsons.sources.forEach(json => {
        var mySources = `
<div class=" col-lg-3 col-12">
      <div class="card collapsed-card">
       <div class="small-box bg-info">
        <div class="inner">
         <h2 style='font-weight:600'>${json.name.toUpperCase()}</h2>
         <h3 style='font-weight:600'>${json.numbers}</h3>
        </div>
        <div class="icon">
          <i class="ion ion-flag"></i>
        </div>
          <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse">View Sources. <i class="fas fa-arrow-circle-right"></i></a>
       </div>

        <div class="card-body" >
          ${json.sources.replace(/,/g,'<br>').toUpperCase()}
        </div>
      </div>

      </div>`;
        $('#divSources').append(mySources);

      });




      $('#divKeywordCats').html(``);
      jsons.keywords.forEach(json => {
        var mykeywords = `
<div class=" col-lg-3 col-12">
      <div class="card collapsed-card">
       <div class="small-box bg-success">
        <div class="inner">
         <h2 style='font-weight:600'>${json.name.toUpperCase()}</h2>
         <h3 style='font-weight:600'>${json.numbers}</h3>
        </div>
        <div class="icon">
          <i class="ion ion-key"></i>
        </div>
          <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse">View Keywords. <i class="fas fa-arrow-circle-right"></i></a>
       </div>

        <div class="card-body" >
          ${json.keywords.replace(/,/g,'<br>').toUpperCase()}
        </div>
      </div>

      </div>`;
        $('#divKeywordCats').append(mykeywords);

      });


      // alert($('#folderList').html());




    } catch (err) {
      console.log(err);
      $(document).Toasts('create', {
        class: 'bg-danger',
        title: 'Error',
        subtitle: 'Failed',
        body: 'Server ERROR. check console.'
      });
    }

  }

  async function getAnalyticsContents(user_id) {

    $('#sweetLoader').fadeIn();


    // data to be sent to the POST request
    let _data = {
      name: $('#fullname').val(),
      user_id: 3 // hard_coded
    }

    try {
      const response = await fetch(`statistics/getAnalyticsContents/${user_id}!${start_date}!${end_date}!${keyword}!${keywordCat}`, {
        method: "GET",
        headers: {
          "Content-type": "application/json; charset=UTF-8"
        }
      });
      var jsons = await response.json();
      console.log(jsons);
      $('#sweetLoader').fadeOut();

      $('#divCatNews').html(``);


      var totalNews = `<div class=" col-lg-3 col-md-4 col-6">
              <div class="card collapsed-card">
                <div class="small-box bg-info">
                  <div class="inner">
                    <a style='font-weight:600;font-size:15px'>Total News.</a>

                    <h3 style='font-weight:600;margin:0;font-size:25px' id="totalNews">${jsons.result[0].numbers}</h3>
                  </div>
                  <div class="icon">
                    <i class="ion ion-social-rss"></i>
                  </div>
                  <a href="#" class=" card-tools small-box-footer  " data-card-widget="collapse"> <i style="top: 5px;" class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>`;
      $('#divCatNews').append(totalNews);

      jsons.catContents.forEach(json => {
        var mySources = `
<div class=" col-lg-3 col-md-4 col-6">
  <div class="card collapsed-card">
   <div class="small-box bg-danger">
    <div class="inner">
     <a style='font-weight:600;font-size:15px'>${json.name.toUpperCase()}</a>
     <h3 style='font-weight:600;margin:0;font-size:25px'>${json.numbers}</h3>
    </div>
    <div class="icon">
      <i class="ion ion-grid"></i>
    </div>
    <a href="#" cat_id="${json.keyword_catid}"  class=" card-tools small-box-footer catFooter" data-card-widget="collapse">Filter by this. <i style="top: 5px;" class="fas fa-arrow-circle-down"></i></a>
   </div>


  </div>

  </div>`;
        $('#divCatNews').append(mySources);

      });




      $('#divKeywords').html(`<div class="col-md-12 col-12"><small style="font-weight: 600;" id="secNameHeader"> Keywords Wise News</small></div>`);
      jsons.keywords.forEach(json => {
        var mySources = `<div class=" col-lg-2 col-md-2 col-4">
  <div class="card collapsed-card">
    <a class="bg-danger" style='text-align: center;font-weight: 600; font-size: xx-small;'>${json.name.toUpperCase()} </a>

   <div class="small-box bg-warning">

    <div style="font-size:smaller; padding:0;text-align: center;" class="inner">
     <a style='font-weight:600; font-size: 8px; display:block' >${json.word.toUpperCase()}</a>
     <a style='font-weight:600; font-size: 15px;'>${json.numbers}</a>
    </div>
    <div class="icon">
      <i style="font-size:xx-large" class="ion ion-key"></i>
    </div>
      <a href="#" key_id="${json.keyword_id}" class=" card-tools small-box-footer  keyFooter" style="font-size:xx-small;"  data-card-widget="collapse">Filter by this. <i class="fas fa-arrow-circle-down"></i></a>
   </div>

  </div>

  </div>`;
        $('#divKeywords').append(mySources);

      });




      $('#divCatCountries').html(`<div class="col-md-12 col-12"><small style="font-weight: 600;" id="secNameHeader"> Category | Country Wise News</small></div>`);
      jsons.catCooutryContents.forEach(json => {
        var banner = `     <a class="bg-danger" style='text-align: center;font-weight: 600; font-size: xx-small;'>${json.name.toUpperCase()} </a>`;
        if (keyword != "0") {
          var keyward_Name = document.querySelector(`[key_id="${keyword}"]`);
          keyward_Name = $(keyward_Name).parent();
          keyward_Name = $(keyward_Name).find('a').html();
          //alert( keyward_Name);
          if(keyward_Name.length>15)
          keyward_Name=keyward_Name.slice(0,15)+'...';
          var banner = `    <a class="bg-warning" style='text-align: center;font-weight: 600; font-size: xx-small;'>${keyward_Name} </a>
`;

        }


        var mykeywords = `
<div class=" col-lg-1 col-md-2  col-4">
  <div class="card collapsed-card">
    ${banner}

   <div class="small-box bg-success">
    <div style="padding:0; text-align:center" class="inner">
      <a style='font-weight:600; font-size: 8px; display:block'>${json.country.toUpperCase()}</a>
      <a style='font-weight:600; font-size: 15px;display:block'>${json.numbers}</a>
    </div>
    <div style="font-size:smaller; padding:0;text-align: center;"  class="icon">
      <i style="font-size:xx-large" class="ion ion-flag" style="margin-top:25px"></i>
    </div>
      <a href="#" cat_id="${json.keyword_catid}"  style="font-size:xx-small;"   class=" card-tools small-box-footer cardFooter" data-card-widget="collapse">View Source. <i class="fas fa-arrow-circle-down"></i></a>
   </div>

    <div class="card-body" style="font-weight:600; padding: 10px; font-size:8px" >

      ${     json.sources.replace(/,/g,'<br>').toUpperCase()  }

    </div>
  </div>

  </div>`;
        $('#divCatCountries').append(mykeywords);

      });


      // alert($('#folderList').html());




    } catch (err) {
      $('#sweetLoader').fadeOut();

      console.log(err);
      $(document).Toasts('create', {
        class: 'bg-danger',
        title: 'Error',
        subtitle: 'Failed',
        body: 'Server ERROR. check console.'
      });
    }

  }




  function myToast(message, type) {
    getAnalytics(3);
    if (type == 'success') {
      $(document).Toasts('create', {
        class: 'bg-success',
        title: 'Success',
        autohide: true,
        delay: 1000,
        subtitle: 'Done',
        body: message + '.'
      });
    } else {
      $(document).Toasts('create', {
        class: 'bg-danger',
        title: 'Error',
        subtitle: 'Failed',
        autohide: true,
        delay: 1000,
        body: message + '.'
      });
    }
  }

  function getDateTimeFormate(str) {
    var today = new Date(str);

    var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    var dateTime = date + ' ' + time;
    return dateTime;
  }

  function yesNoDialog(message) {
    if (confirm(message)) return true;
    else return false;
  }
</script>